@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* -----mise en forme générale----- */

*{
    font-family: 'open sans';
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 0;
    padding: 0;
} 
body{
    background: rgb(246,168,68);
    background: linear-gradient(0deg, rgba(246,168,68,1) 10%, rgba(229,153,94,0.38977597875087533) 50%, rgba(209,137,123,1) 90%);
}

.menu-fixe{
    width: 100%;
    position: fixed;
}

.tableau{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio-texte{
    text-align: center;
    text-align: justify;
    padding: 7%;
}

.bio-texte p{
    margin-top: 3%;
}


h1{
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 10px rgb(72, 71, 71);
}


.menu-fixe ul{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.espacement{
    margin:10%;
}

main{
    height: 100%;
}

header{
    height: 100%;
}
/* ----- couleurs de reference :        orange :        #F6A844
                                        rouge pale :    #D1897B 
                                        bleu canard :   #3D858E
*/


/* creation de la grid*/

.moza-portrait{
    display: grid;
    grid-template: repeat(7, 1/7%) / repeat(6, 1/6%);
    row-gap: 1%;
    column-gap: 2%;
}

/*background black */

.moza-portrait{
    background-color: black;
    color: black;
    border: 30px solid;
    border-bottom: 205px solid;
}
/* taille et mise en forme des titres*/
#contact{
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

#portraits{
    font-weight: bold;
    font-size: 72px;
    margin-bottom: 5%;
}

#landscapes{
    font-weight: bold;
    font-size: 72px;
    display: block;
    margin-bottom: 5%;
    text-align: center;
    margin-top: 5%;
}

#bio-titre{
    font-weight: bold;
    font-size: 72px;
    text-align: center;
}


/* ajustement des images a la taille de la cellul, pas de debordement */

.moza-portrait img{
    width: 100%;
    height: 100%;
}

.mozaique{
    width: 70%;
    height: 70%;

}
/* opacité des images lors du hover */

.moza-portrait img:not(.logo):hover,
.moza-landscape img:not(.logo):hover  {
    filter: opacity(40%);
}




/* ordre des images dans le tableau portrait en partant du haut*/

/* 1ere image horizontale */

.moza-portrait :nth-child(3){
    grid-area: 1/1/2/5;
}


/* 1ere image verticale */


.moza-portrait :nth-child(5){ 
    grid-area: 2/1/4/3;    
}

/* 2nde image horizontale */ 

.moza-portrait :nth-child(1){
    grid-area: 2/3/3/7;
}

/* 3è image horizontale */

.moza-portrait :nth-child(9){
    grid-area: 3/3/4/7;
}

/* 4è image horizontale */


.moza-portrait :nth-child(7){
    grid-area: 4/3/5/7;
}

/* 2nde image verticale */

.moza-portrait :nth-child(8){
    grid-area: 5/5/7/7;
}

/* 5è image horizontale */

.moza-portrait :nth-child(4){
    grid-area: 5/1/6/5;
}

/*6è image horizontale */

.moza-portrait :nth-child(2){
    grid-area: 6/1/7/5;
}

/* 7è image horizontale */

.moza-portrait :nth-child(6){
    grid-area: 7/1/8/5;
}

/* logos */


.LOGONB1{
    grid-area: 1/5/2/7;

}

.LOGONB2{
    grid-area: 4/1/5/3;
}

.LOGONB3{
    grid-area: 7/5/8/7;
}

/* meme chose pour landscape */

.moza-landscape{

    display: grid;
    grid-template: repeat(7, 1fr) / repeat(6, 1fr);
    row-gap: 1%;
    column-gap: 2%;
}
.moza-landscape{
    background-color: white;
    border: 30px solid;
    border-bottom: 205px solid;
    border-color: white;

}


/* ajustement des images a la taille de la cellule, pour eviter debordement */

.moza-landscape img{
    width: 100%;
    height: 100%;
}

/* on assigne chaque image à une case du haut vers le bas */
/* 1è image horizontale */

.moza-landscape :nth-child(3){
    grid-area: 1/1/2/5;
}


/* 1è image verticale */

.moza-landscape :nth-child(6){ 
    grid-area: 2/1/4/3;    
}

/* 2è image horizontale */

.moza-landscape :nth-child(1){
    grid-area: 2/3/3/7;
}

/* 3è image horizontale */

.moza-landscape :nth-child(9){
    grid-area: 3/3/4/7;
}

/* 4è image horizontale */

.moza-landscape :nth-child(7){
    grid-area: 4/3/5/7;
}

/* 2è image verticale */

.moza-landscape :nth-child(8){
    grid-area: 5/5/7/7;
}

/* 5è image horizontale */

.moza-landscape :nth-child(4){
    grid-area: 5/1/6/5;
}

/* 6è image horizontale */

.moza-landscape :nth-child(2){
    grid-area: 6/1/7/5;
}

/* 7è image horizontale */

.moza-landscape :nth-child(5){
    grid-area: 7/1/8/5;
}

/* logos */

.LOGOW1{
    grid-area: 1/5/2/7;

}

.LOGOW2{
    grid-area: 4/1/5/3;
}

.LOGOW3{
    grid-area: 7/5/8/7;
}


/* -----Mise en forme du menu -----*/

nav ul{
    background-color: #3D858E;
    box-shadow: 10px 3px 3px #b3b2b2 ;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type:none;
}

/* -----Mise en forme du footer -----*/
/* logos réseaux */
.réseaux{
    display:flex;
    align-items: center;
    justify-content: center;
    list-style-type:none;
    margin:auto;
}
.fa-brands{
    margin: 5px;
    margin-bottom: 120%;
}

.fa-solid{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* mise en forme formulaire */

.formulaire{
    margin-bottom: 1%;
}

.formulaire ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulaire ul li{
    margin-bottom: 0.5%;
    display: flex;
    flex-direction: column;
}

.formulaire ul li input,
.formulaire ul li textarea
{
    width: 100%;
    color: black;
}

