@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* -----mise en forme générale----- */

* {
    font-family: 'open-sans';
    color: black;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
