@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* -----mise en forme générale----- */

* {
    font-family: 'open sans';
    color: black;
    font-size: 18px;
    margin: 0;
    padding: 0;
} 

main{

}

/* ----- couleurs de reference :        orange :        #F6A844
                                        rouge pale :    #D1897B 
                                        bleu canard :   #3D858E
*/

/* taille des parents*/



/* creation de la grid*/

.moza-portrait{

    display: grid;
    grid-template: repeat(7, 1fr) / repeat(6, 1fr);
    row-gap: 1%;
    column-gap: 2%;
}

#portraits{
    font-weight: bold;
    font-size: 72px;
    margin-bottom: 5%;
}

#landscapes{
    font-weight: bold;
    font-size: 72px;
    display: block;
    margin-bottom: 5%;
    text-align: center;
    margin-top: 5%;
 
}
/* ajustement des images a la taille de la cellul, pas de debordement */

.moza-portrait img{
    width: 100%;
    height: 100%;

}

.mozaique{
    width: 70%;
    height: 70%;

}

.moza-portrait{
    background-color: black;
    border: 30px solid;
    border-bottom: 205px solid;
}

.tableau{
    display: flex;
    flex-direction: column;
    align-items: center;


}
/* on assigne chaque image à une case du haut vers le bas */




.moza-portrait :nth-child(4){
    grid-area: 5/1/6/5;
}

.moza-portrait :nth-child(1){
    grid-area: 2/3/3/7;
}

.moza-portrait :nth-child(9){
    grid-area: 3/3/4/7;
}


.moza-portrait :nth-child(3){
    grid-area: 1/1/2/5;
}

.moza-portrait :nth-child(5){ 
    grid-area: 2/1/4/3;    
}

.moza-portrait :nth-child(6){
    grid-area: 7/1/8/5;
}


.moza-portrait :nth-child(7){
    grid-area: 4/3/5/7;
}

.moza-portrait :nth-child(8){
    grid-area: 5/5/7/7;
}

.moza-portrait :nth-child(2){
    grid-area: 6/1/7/5;
}

.LOGONB1{
    grid-area: 1/5/2/7;

}

.LOGONB2{
    grid-area: 4/1/5/3;
}

.LOGONB3{
    grid-area: 7/5/8/7;
}


/* meme chose pour landscape */

.moza-landscape{

    display: grid;
    grid-template: repeat(7, 1fr) / repeat(6, 1fr);
    row-gap: 1%;
    column-gap: 2%;
}

/* ajustement des images a la taille de la cellul, pas de debordement */

.moza-landscape img{
    width: 100%;
    height: 100%;

}




/* on assigne chaque image à une case du haut vers le bas */




.moza-landscape :nth-child(4){
    grid-area: 5/1/6/5;
}

.moza-landscape :nth-child(1){
    grid-area: 2/3/3/7;
}

.moza-landscape :nth-child(9){
    grid-area: 3/3/4/7;
}


.moza-landscape :nth-child(3){
    grid-area: 1/1/2/5;
}

.moza-landscape :nth-child(6){ 
    grid-area: 2/1/4/3;    
}

.moza-landscape :nth-child(5){
    grid-area: 7/1/8/5;
}


.moza-landscape :nth-child(7){
    grid-area: 4/3/5/7;
}

.moza-landscape :nth-child(8){
    grid-area: 5/5/7/7;
}

.moza-landscape :nth-child(2){
    grid-area: 6/1/7/5;
}


.LOGOW1{
    grid-area: 1/5/2/7;

}

.LOGOW2{
    grid-area: 4/1/5/3;
}

.LOGOW3{
    grid-area: 7/5/8/7;
}

.space{
    margin: 10%;
}


.separation{
    margin: 10%;
}
/* -----Mise en forme du menu -----*/

nav ul{
    background-color: #3D858E;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type:none;
}

/* -----Mise en forme du footer -----*/
.réseaux{
    display:flex;
    align-items: center;
    justify-content: center;
    list-style-type:none;
    margin:auto;
}
.fa-brands{
    margin: 5px;
}

.fa-solid{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

